# Terminal.app Template (preserves default ANSI colors)
# (C) 2016 vbwx

name: {{scheme-name}}
ANSIBlackColor: {{base00-srgb-r}} {{base00-srgb-g}} {{base00-srgb-b}}
ANSIBlueColor: {{base0D-srgb-r}} {{base0D-srgb-g}} {{base0D-srgb-b}}
ANSIBrightBlackColor: {{base03-srgb-r}} {{base03-srgb-g}} {{base03-srgb-b}}
ANSIBrightBlueColor: {{base0D-srgb-r}} {{base0D-srgb-g}} {{base0D-srgb-b}}
ANSIBrightCyanColor: {{base0C-srgb-r}} {{base0C-srgb-g}} {{base0C-srgb-b}}
ANSIBrightGreenColor: {{base0B-srgb-r}} {{base0B-srgb-g}} {{base0B-srgb-b}}
ANSIBrightMagentaColor: {{base0E-srgb-r}} {{base0E-srgb-g}} {{base0E-srgb-b}}
ANSIBrightRedColor: {{base08-srgb-r}} {{base08-srgb-g}} {{base08-srgb-b}}
ANSIBrightWhiteColor: {{base07-srgb-r}} {{base07-srgb-g}} {{base07-srgb-b}}
ANSIBrightYellowColor: {{base0A-srgb-r}} {{base0A-srgb-g}} {{base0A-srgb-b}}
ANSICyanColor: {{base0C-srgb-r}} {{base0C-srgb-g}} {{base0C-srgb-b}}
ANSIGreenColor: {{base0B-srgb-r}} {{base0B-srgb-g}} {{base0B-srgb-b}}
ANSIMagentaColor: {{base0E-srgb-r}} {{base0E-srgb-g}} {{base0E-srgb-b}}
ANSIRedColor: {{base08-srgb-r}} {{base08-srgb-g}} {{base08-srgb-b}}
ANSIWhiteColor: {{base05-srgb-r}} {{base05-srgb-g}} {{base05-srgb-b}}
ANSIYellowColor: {{base0A-srgb-r}} {{base0A-srgb-g}} {{base0A-srgb-b}}
BackgroundColor: {{base00-srgb-r}} {{base00-srgb-g}} {{base00-srgb-b}}
CursorColor: {{base05-srgb-r}} {{base05-srgb-g}} {{base05-srgb-b}}
SelectionColor: {{base03-srgb-r}} {{base03-srgb-g}} {{base03-srgb-b}}
TextBoldColor: {{base05-srgb-r}} {{base05-srgb-g}} {{base05-srgb-b}}
TextColor: {{base05-srgb-r}} {{base05-srgb-g}} {{base05-srgb-b}}
