# Terminal.app Template
# (C) 2016 Bernhard Waldbrunner (http://www.rethinkux.com)

name: {{scheme-name}}
ANSIBlackColor: {{base00-srgb-r}} {{base00-srgb-g}} {{base00-srgb-b}}
ANSIBlueColor: {{base0D-srgb-r}} {{base0D-srgb-g}} {{base0D-srgb-b}}
ANSIBrightBlackColor: {{base03-srgb-r}} {{base03-srgb-g}} {{base03-srgb-b}}
ANSIBrightBlueColor: {{base04-srgb-r}} {{base04-srgb-g}} {{base04-srgb-b}}
ANSIBrightCyanColor: {{base0F-srgb-r}} {{base0F-srgb-g}} {{base0F-srgb-b}}
ANSIBrightGreenColor: {{base01-srgb-r}} {{base01-srgb-g}} {{base01-srgb-b}}
ANSIBrightMagentaColor: {{base06-srgb-r}} {{base06-srgb-g}} {{base06-srgb-b}}
ANSIBrightRedColor: {{base09-srgb-r}} {{base09-srgb-g}} {{base09-srgb-b}}
ANSIBrightWhiteColor: {{base07-srgb-r}} {{base07-srgb-g}} {{base07-srgb-b}}
ANSIBrightYellowColor: {{base02-srgb-r}} {{base02-srgb-g}} {{base02-srgb-b}}
ANSICyanColor: {{base0C-srgb-r}} {{base0C-srgb-g}} {{base0C-srgb-b}}
ANSIGreenColor: {{base0B-srgb-r}} {{base0B-srgb-g}} {{base0B-srgb-b}}
ANSIMagentaColor: {{base0E-srgb-r}} {{base0E-srgb-g}} {{base0E-srgb-b}}
ANSIRedColor: {{base08-srgb-r}} {{base08-srgb-g}} {{base08-srgb-b}}
ANSIWhiteColor: {{base05-srgb-r}} {{base05-srgb-g}} {{base05-srgb-b}}
ANSIYellowColor: {{base0A-srgb-r}} {{base0A-srgb-g}} {{base0A-srgb-b}}
BackgroundColor: {{base00-srgb-r}} {{base00-srgb-g}} {{base00-srgb-b}}
CursorColor: {{base05-srgb-r}} {{base05-srgb-g}} {{base05-srgb-b}}
SelectionColor: {{base03-srgb-r}} {{base03-srgb-g}} {{base03-srgb-b}}
TextBoldColor: {{base05-srgb-r}} {{base05-srgb-g}} {{base05-srgb-b}}
TextColor: {{base05-srgb-r}} {{base05-srgb-g}} {{base05-srgb-b}}
