# Terminal.app Template
# (C) 2016-2025 vbwx

name: {{scheme-name}}
ANSIBlackColor: {{base00-dec-r}} {{base00-dec-g}} {{base00-dec-b}}
ANSIBlueColor: {{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}}
ANSIBrightBlackColor: {{base03-dec-r}} {{base03-dec-g}} {{base03-dec-b}}
ANSIBrightBlueColor: {{base04-dec-r}} {{base04-dec-g}} {{base04-dec-b}}
ANSIBrightCyanColor: {{base0F-dec-r}} {{base0F-dec-g}} {{base0F-dec-b}}
ANSIBrightGreenColor: {{base01-dec-r}} {{base01-dec-g}} {{base01-dec-b}}
ANSIBrightMagentaColor: {{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}}
ANSIBrightRedColor: {{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}}
ANSIBrightWhiteColor: {{base07-dec-r}} {{base07-dec-g}} {{base07-dec-b}}
ANSIBrightYellowColor: {{base02-dec-r}} {{base02-dec-g}} {{base02-dec-b}}
ANSICyanColor: {{base0C-dec-r}} {{base0C-dec-g}} {{base0C-dec-b}}
ANSIGreenColor: {{base0B-dec-r}} {{base0B-dec-g}} {{base0B-dec-b}}
ANSIMagentaColor: {{base0E-dec-r}} {{base0E-dec-g}} {{base0E-dec-b}}
ANSIRedColor: {{base08-dec-r}} {{base08-dec-g}} {{base08-dec-b}}
ANSIWhiteColor: {{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}}
ANSIYellowColor: {{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}}
BackgroundColor: {{base00-dec-r}} {{base00-dec-g}} {{base00-dec-b}}
CursorColor: {{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}}
SelectionColor: {{base03-dec-r}} {{base03-dec-g}} {{base03-dec-b}}
TextBoldColor: {{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}}
TextColor: {{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}}
